<div class="admin-layout">
  <aside class="sidebar">
    <nav>
        <ul class="admin-links">
          <li><a routerLink="/admin/dashboard" routerLinkActive="active" >Dashboard</a></li>
          <li><a routerLink="/admin/cuentos" routerLinkActive="active" >Cuentos</a></li>
          <li><a routerLink="/admin/pedidos" routerLinkActive="active" >Pedidos</a></li>
          <li><a routerLink="/admin/usuarios" routerLinkActive="active" >Usuarios</a></li>
        </ul>
        <hr />
        <ul class="client-links">
          <li><a routerLink="/home" >Inicio</a></li>
          <li><a routerLink="/carrito" >Carrito</a></li>
          <li><a routerLink="/pedidos" >Mis Pedidos</a></li>
          <li><a routerLink="/perfil" >Perfil</a></li>
        </ul>
      </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
