.detalle-pagina {
  padding: 20px;
  background: #fff8f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalle-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  overflow: hidden;
}

// .detalle-imagen {
//   flex: 1;
//   background-color: #f0f0f0;
// }

// .detalle-imagen img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.detalle-info {
  flex: 1;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detalle-info h1 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  color: #6d4c41;
}

.detalle-info h3 {
  margin-bottom: 20px;
  color: #8d6e63;
}

.autor-precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autor-precio .precio {
  font-weight: bold;
  color: #8d6e63;
}

.descripcion {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #5d4037;
}

.extra-info p {
  margin: 5px 0;
  font-size: 0.95rem;
}

.acciones {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.boton-dorado {
  background-color: #a66e38;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.boton-dorado:hover {
  background-color: #8b5e30;
}

.boton-volver {
  background-color: #d7b58b; /* Color diferente para "Volver" */
  color: #5d4037; /* Texto marrón oscuro */
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.boton-volver:hover {
  background-color: #c9a97b; /* Un poco más oscuro en hover */
}

/* Responsive */
@media (max-width: 768px) {
  .detalle-grid {
    flex-direction: column;
  }

  .detalle-imagen {
    height: 300px;
  }

  .detalle-info {
    padding: 20px;
  }
}

.detalle-imagen {
  position: relative;
  width: 70%;
  height: 70%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
  }

  img.loaded {
    opacity: 1; /* Sólo muestra imagen cuando haya cargado */
  }
}

.imagen-skeleton {
  background: #e0e0e0;
  width: 100%;
  height: 100%;
  animation: skeleton-loading 1.2s infinite alternate;
  border-radius: 4px;
}

/* Animación ligera para dar efecto de "cargando" */
@keyframes skeleton-loading {
  from {
    background-color: #e0e0e0;
  }
  to {
    background-color: #f5f5f5;
  }
}
