<div class="login-container">
  <div class="formulario">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <label for="correo">Correo electrónico</label>
      <input id="correo" type="email" formControlName="correo" required />

      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password" required />

      <button type="submit" class="btn-primary">Iniciar sesión</button>
    </form>
    <p class="register-link">
      ¿No tienes cuenta?
      <a routerLink="/register">Regístrate aquí</a>
    </p>
  </div>

  <div class="ilustracion">
    <img appLazyLoad="/assets/libros_killa.png" alt="Ilustración lectura" />
  </div>
</div>
