<div class="container">
  <h2>¡Gracias por tu pedido!</h2>
  <p class="voucher-instruction">¡Gracias por tu compra! Sube una foto del voucher de Yape o Plin para que podamos validar tu pago y preparar tu pedido con mucho cariño.</p>
  <p>Tu número de pedido es: <span class="font-semibold">#{{ pedidoId }}</span></p>
  <p>Estado del pedido: <span class="font-semibold">{{ orderStatus }}</span></p>
  <p class="progress-text">1. Pedido generado → 2. Pago validado → 3. Pedido enviado</p>

  <app-alert-banner *ngIf="mensaje" [type]="mensajeTipo">
    {{ mensaje }}
  </app-alert-banner>

  <div *ngIf="orderStatus === 'Pago Verificado'" class="payment-success-message">
    <p>Tu pago ha sido verificado exitosamente.</p>
  </div>

  <div *ngIf="orderStatus === 'PAGO_PENDIENTE'" class="pending-validation-message">
    <p>Su pedido está en proceso de validación, nosotros lo notificaremos pronto para darle detalles de su pedido.</p>
  </div>

  <div *ngIf="orderStatus !== 'Pago Verificado' && orderStatus !== 'PAGO_PENDIENTE'">
    <h3>Selecciona tu método de pago:</h3>
    <div class="payment-buttons-row">
      <div class="custom-file-upload">
        <input
          type="file"
          id="voucherFile"
          accept="application/pdf,image/jpeg,image/png"
          (change)="onFileSelected($event)"
          hidden
        />
        <label for="voucherFile" class="file-label">
          📎 Elegir Voucher
        </label>
        <p class="allowed-formats">📎 Formatos permitidos: PDF, JPG o PNG.</p>
        <br />
        <span class="file-name">{{ nombreArchivo || 'Sin archivos seleccionados' }}</span>
        <div class="preview" *ngIf="previewUrl">
          <img *ngIf="isImage" [src]="previewUrl" alt="Vista previa" class="thumbnail" />
          <span *ngIf="isPdf" class="material-icons pdf-icon">picture_as_pdf</span>
        </div>
      </div>
      <br />
      <div class="custom-file-container">
        <div>
        <button           (click)="uploadVoucher()"          class="btn-killa btn-confirmar"          [disabled]="!selectedFile || isUploading">
          Confirmar Subida
          <span *ngIf="isUploading" class="spinner"></span>
        </button>
        </div>
        <div class="payment-options">
          <button (click)="openMercadoPagoModal()" class="btn-killa btn-mercado">
            Pagar con Mercado Pago
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showMercadoModal">
  <div class="mercado-modal">
    <h3>Pagar con Mercado Pago</h3>
    <p>Monto a pagar: {{ orderTotal | currency:'USD':'symbol':'1.2-2' }}</p>
    <p>Tu estado cambiará a 'Pago Verificado' en 1–2 minutos tras la transacción.</p>
    <div class="modal-buttons">
      <button class="btn-killa" (click)="pagarConMercadoPagoConfirmado()">Continuar</button>
      <button class="btn-killa btn-cancel" (click)="closeMercadoPagoModal()">Cancelar</button>
    </div>
  </div>
</div>