<div class="container">
  <h2>¡Gracias por tu pedido!</h2>
  <p>Tu número de pedido es: <span class="font-semibold">#{{ pedidoId }}</span></p>
  <p>Estado del pedido: <span class="font-semibold">{{ orderStatus }}</span></p>

  <div *ngIf="mensaje" [ngClass]="{
        'success-mensaje': mensajeTipo === 'success',
        'error-mensaje': mensajeTipo === 'error',
        'info-mensaje': mensajeTipo === 'info'
      }" class="mensaje">
    <p>{{ mensaje }}</p>
  </div>

  <div *ngIf="orderStatus === 'Pago Verificado'" class="payment-success-message">
    <p>Tu pago ha sido verificado exitosamente.</p>
  </div>

  <div *ngIf="orderStatus === 'PAGO_PENDIENTE'" class="pending-validation-message">
    <p>Su pedido está en proceso de validación, nosotros lo notificaremos pronto para darle detalles de su pedido.</p>
  </div>

  <div *ngIf="orderStatus !== 'Pago Verificado' && orderStatus !== 'PAGO_PENDIENTE'">
    <h3>Selecciona tu método de pago:</h3>
    <div class="payment-buttons-row">
      <div class="custom-file-upload">
        <input type="file" id="voucherFile" (change)="onFileSelected($event)" hidden />
        <label for="voucherFile" class="file-label">
          📎 Seleccionar comprobante
        </label>
        <br />
        <span class="file-name">{{ nombreArchivo || 'Sin archivos seleccionados' }}</span>
      </div>
      <button (click)="uploadVoucher()" class="btn-killa btn-confirmar" [disabled]="!selectedFile">
        Confirmar Subida
      </button>

      <div class="payment-options">
        <button (click)="pagarConMercadoPago()" class="btn-killa btn-mercado">
          Pagar con Mercado Pago
        </button>
      </div>
    </div>
  </div>
</div>