.cuento-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  img {
    width: 100%;
    border-radius: 5px;
  }

  h3 {
    color: #A66E38;
    margin: 0.5rem 0;
  }

  button {
    background-color: #96CEB4;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
}
.cuento-card-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff8e1;
  height: 180px; /* Ajusta según tu diseño */
  overflow: hidden;

  img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
  }
}